snippet " "Surround" i
"$1"$0
endsnippet

snippet ' "Surround" i
'$1'$0
endsnippet

snippet ( "Surround" i
($1)$0
endsnippet

snippet "\(\s" "Surround" ir
(
	$1
)$0
endsnippet

snippet [ "Surround" i
[$1]$0
endsnippet

snippet "\[\s" "Surround" ir
[
	$1
]$0
endsnippet

snippet { "Surround" i
{$1}$0
endsnippet

snippet "{\s"  "Surround" ir
{
	$1
}$0
endsnippet

snippet < "Surround" i
< $1 >$0
endsnippet
